@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1e7e7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f0f0;
    --foreground: #0c0c0c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}